:root{
    --primary-color: white;
    --secondary-color: rgba(0, 100, 224);
    --text-color: rgba(17, 17, 18);
}

*{
    margin:0px;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
}

#container{
    display: flex;
    flex-flow: row;
}

#box-left{
    background-color: var(--primary-color);
    height: 90dvh;
    width: 75dvw;
    border-right: 1px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0;
    border-style: solid;
    border-color: #DFE2E5;
    justify-self: start;
    align-self: start;
    display: flex;
    flex-flow: wrap;
}

#box-right{
    display: flex;
    flex-flow: column wrap;
    row-gap: 2dvh;
    justify-content: center;
    align-content: center;
    background-color: var(--primary-color);
    height: 90dvh;
    width: 25dvw;
    border-left: 0px;
    border-bottom: 1px;
    border-top: 0;
    border-right: 0;
    border-style: solid;
    border-color: #DFE2E5;
    justify-self: end;
}

#box-bottom{
    background-color: var(--primary-color);
    align-self: end;
    height: 10dvh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-size:large;
    color: #666A72;
}

svg{
    height: 4dvh;
    width: 4dvw;
    margin-left: 8dvw;
    margin-top: 5dvh;
}

#slogan{
    display: flex;
    flex-direction: row-reverse;
    align-self: end;
    justify-self: start;
    margin-left: -3dvw;
    margin-bottom: 6dvh;
    font-size: 4.5dvb;
    font-family: sans-serif;
    
}

#Login_page_Pic{
    height: 80dvh;
    width: 38dvw;
    margin-top: 2dvh;
    margin-left: 6dvw;
}

#Login-text{
    margin-bottom: -1dvh;
    font-family: sans-serif;
}

.text-boxes{
    width: 20dvw;
    height: 4dvh;
    border-radius: 15px;
    border-color: #DFE2E5;
    border-style: solid;
    border-width: 2px;
}

#Login-button{
    height: 2.9dvh;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: white;
}

#forgot-pass{
    align-self: center;
    text-decoration: none;
    color: black;
    margin-top: -.5dvh;
    margin-bottom: 2dvh;
    font-size: .7dvi;
}

#Create-account{
    height: 2.9dvh;
    border-radius: 20px;
    background-color: white;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

#meta-logo{
    height: 2dvh;
    width: 4dvh;
    margin-left: 9dvw;
    margin-top: -1.5dvh;
}

.Links-first{
    margin-right: 1dvw;
    margin-bottom: .5dvh;
}

.Links-second{
    margin-right: .2dvw;
}

.Links-third{
    margin-right: .5dvw;
}