:root{
    --primary-color: #2a2d3e;   
    --secondary-color: #1b1f2b;
    --text-color: rgba(255, 255, 255, 0.945);
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0px;
    text-align: center;
}

h1, h2{
    text-align: center;
}

nav{
    background-color: var(--secondary-color);
    height: 25px;
    padding: 10px;
}

.nav-button{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 10px;
    margin-left: 10px;
    border-top: 10px;
    border-bottom: 10px;
    border-color: var(--text-color);
}

.nav-button:hover{
    border-style: groove;
    border-top: 5px;
    border-bottom: 5px;
    height: 20px;
    padding: 10px;
}

#current{
    border-style: groove;
    border-top: 5px;
    border-bottom: 5px;
    height: 20px;
    padding: 10px;
}

#P1{
    padding: 5px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-color: var(--secondary-color);
    border-style: solid;
    border-radius: 20px;
    background-color: var(--secondary-color);
    width: 80%;
    justify-self: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: row;
}

#box-left{
    border-color: var(--secondary-color);
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--secondary-color);
    width: 40%;
    height: 500px;
    justify-self: left;
}

#box-right{
    border-color: var(--secondary-color);
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--secondary-color);
    width: 40%;
    height: 500px;
    justify-self: right;
}